input[type="checkbox"] {
  display: none;
}

/* Style for custom checkbox */
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  margin-bottom: -3px;
  font-size: 16px;
}

.custom-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px; /* Adjust as needed for the desired checkbox size */
  width: 15px;
  background-color: rgb(26, 35, 50); /* Background color of the checkbox */
  border: 1px solid rgb(159, 239, 0); /* Border color */
  border-radius: 4px; /* Optional: Rounded corners */
}

/* Style for the checkmark when checkbox is checked */
.custom-checkbox input:checked + .checkmark:after {
  content: '\2713'; /* Unicode checkmark character */
  display: block;
  color: #fff; /* Color of the checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-checkbox input:checked + .checkmark {
  background-color:rgb(159, 239, 0);
  /* Adjust as needed for the desired checked background color */
}

.custom{
  display: flex;
  color: rgb(157, 155, 155);
  width: 130px;
  justify-content: space-between;
  margin-top: 20px;
}