input[type="checkbox"] {
  display: none;
}
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  margin-bottom: -3px;
  font-size: 16px;
}

.custom-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px; 
  width: 15px;
  background-color: rgb(26, 35, 50);
  border: 1px solid rgb(159, 239, 0); 
  border-radius: 4px; 
  transition: background-color 0.15s;
}


.custom-checkbox input:checked + .checkmark:after {
  content: '\2713';
  display: block;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-checkbox input:checked + .checkmark {
  background-color:rgb(159, 239, 0);
}

.custom{
  display: flex;
  color: rgb(157, 155, 155);
  width: 130px;
  justify-content: space-between;
  margin-top: 20px;
}
