.logo2{
  height: 20px;
  width: 20px;
 margin-bottom: -5px;
}
.htb{
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-family: Abel,Arial;
  margin-left: -1px;
}
.register{
  color: rgb(159, 239, 0);
}
.extro{
  text-align: center;
}